<!-- <div>
    <h1 style="text-align: center">LOGIN</h1>
    
<div class="row">
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
          <div class="form-group">
            <label for="email">Username</label>
            <input type="email" required id="email" name="email" ngModel class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              ngModel
              required
              class="form-control">
          </div>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
        </form>
 </div>
</div> -->
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
<body>

    <div class="container">
        <h1 style="text-align: center">LOGIN</h1>
      <form (ngSubmit)="onSignin(f)" #f="ngForm">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="email" placeholder="Enter username" name="email" ngModel required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"  ngModel required>
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember"> Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign In</button>
      </form>
    </div>
    
    </body>