<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<app-header></app-header>
<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="dataGridForm" (ngSubmit)="onSave()"  #f="ngForm">
        <input
                type="number"
                id="srno"
                formControlName="srno"
                hidden
                class="form-control">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="code">Employee Code</label>
              <input
                type="number"
                id="code"
                required
                formControlName="empCode"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Employee Name</label>
              <input
              type="text"
              required
              id="name"
              formControlName="name"
              class="form-control">
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Designation</label>
              <input
                type="text"
                required
                id="designation"
                class="form-control"
                formControlName="designation">
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
              <button
                type="submit"
                [disabled]="!f.valid"
                class="btn btn-success">Save</button>
              <button type="button" class="btn btn-danger" (click)="onCancel()" style="margin-left:5px;">Cancel</button>
            </div>
          </div>
      </form>
    </div>
  </div>
